@charset "utf-8";
@import url("estilo_do_menu.css");
/* CSS Document */
header,main,section,nav,footer{
	font-family:Helvetica;
	font-size:12px;
	border:solid 1px #666;
	padding:0.5em;
	margin-top:5px;
	border-radius:10px;
	
}

input[type=text],input[type=number],input[type=tel], input[type=submit], input[type=date]{
	border-radius:5px;
	padding:0.5em;	
	box-shadow:1px 1px 1px #333333;
	background-color:#FFC;
}

header{
	text-align:center;
}

footer{
	text-align:center;	
}
	
